.wrapper {
	margin: 0 auto;
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 1100px;
}

.image {
	height: 300px;
}

.content {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}

.price {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	letter-spacing: 0.015em;
	text-align: center;
	& > form {
		margin-top: 0;
	}
}

.title__block {
	display: flex;
	justify-content: space-between;
}
