.counter {
	margin: 0;
	padding: 0;
	background-color: #fff;
	border-radius: 100%;
	width: 24px;
	height: 24px;
	color: black;
	font-size: 14px;
	line-height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}
